<div class="bg-blur"></div>

    <header class="fixed-top  border-bottom shadow-sm">
        <div class="container-fluid d-flex align-items-center justify-content-between py-2 px-4">
            <!-- Logo -->
            <a href="/">
                <img src="/images/Logo.jpg" alt="Home" id="logoimg" class="img-fluid" style="width: 50px;">
            </a>
            
        </div>
    </header>