
<%- include('partials/headere')  %>
<%- include('partials/mainnave')  %>

<main class="container mt-5 pt-5">
    <section class="cart-container" style="max-width: 800px; margin: 0 auto;">
        <h2 class="text-center mb-4" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.1); display: block;">Error 404</h2>
        <p class="text-center mb-4" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.1); display: block;">Page not found</p>
        <a href="/" class="btn btn-primary">Go to Home</a>
    </section>
</main>



</body>
</html>