<%- include('partials/headere')  %>
<%- include('partials/mainnave')  %>
<div class="eatery"><h1 style="color:white">Your name is <%= username %></h1></div>
<form action="/logout" method="GET">
    <button>
        logout
    </button>
</form>
</body></html>